<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LogWatcher.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LogWatcher.Settings1>
            <setting name="TargetDirs" serializeAs="String">
                <value>C:\Temp\log,C:\App\log</value>
            </setting>
            <setting name="ErrorWords" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorWordsIgnoreCase" serializeAs="String">
                <value>\[ERROR\]|\[Fatal\]|&lt;ERROR&gt;|ErrorCode</value>
            </setting>
            <setting name="NormalWords" serializeAs="String">
                <value />
            </setting>
            <setting name="NormalWordsIgnoreCase" serializeAs="String">
                <value>\[WARN\]</value>
            </setting>
            <setting name="WatchingInterval" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="TargetFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="GrowlPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="GrowlHostName" serializeAs="String">
                <value />
            </setting>
            <setting name="GrowlTcpPort" serializeAs="String">
                <value />
            </setting>
        </LogWatcher.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
